.productcard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

.wrapper {
  flex: 1 1 calc(33.333% - 32px);
  max-width: calc(33.333% - 32px);
  background-color: #151212;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.wrapper:hover {
  transform: translateY(-5px);
}

.productcard__description {
  padding: 16px;
}

.productcard__description h3 {
  font-size: 1.25em;
  margin-bottom: 8px;
}

.productcard__description span {
  display: block;
  font-size: 0.875em;
  color: #555;
  margin-bottom: 16px;
}

.productcard__button {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.productcard__btn {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: fit-content;
  font-weight: 500;
  color: var(--stone-color);
  background-color: var(--blue-color);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  box-shadow: 3px 3px 0 black;
  text-decoration: none;
}

.fix {
  margin-top: 2.8rem;
}
.fix-button {
  margin-top: 1.5rem;
}

.fix-btn {
  margin-top: 2.3rem;
}

.productcard__btn:hover {
  box-shadow: none;
  transform: translateX(3px);
  transform: translateY(3px);
}

@media (max-width: 1024px) {
  .wrapper {
    flex: 1 1 calc(50% - 32px);
    max-width: calc(50% - 32px);
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
