.project-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.project-card {
  flex: 1 1 calc(33.333% - 1rem);
  max-width: calc(33.333% - 1rem);
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-card__description {
  padding: 1.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card__description h3 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  color: #333;
}

.project-card__description span {
  display: block;
  font-size: 0.875rem;
  color: #777;
  margin-bottom: 1rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-demo {
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  width: fit-content;
  transition: all 0.3s;
  color: #ddd;
  box-shadow: 3px 3px 0px black;
  text-decoration: none;
}

.btn-demo:hover {
  box-shadow: none;
  transform: translate(3px, 3px);
}

@media (max-width: 1024px) {
  .project-card {
    flex: 1 1 calc(50% - 2rem);
    max-width: calc(50% - 2rem);
  }
}

@media (max-width: 768px) {
  .project-card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
