.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  padding: 20px;
  margin-top: 4rem;
}

.image-section,
.text-section {
  flex: 1 1 45%;
  margin: 10px;
  min-width: 300px;
}

.image-section img {
  width: 60%;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.text-section {
  color: white;
  text-align: left;
  padding: 20px;
}

.text-section h1 {
  margin-bottom: 20px;
  font-size: 2em;
}

.text-section p {
  font-size: 1.2em;
  line-height: 1.5;
}
