.contact {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #000000;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  gap: 2rem;
}

.contact-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-info p {
  font-weight: bold;
}

.contact-info__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  color: var(--green);
}

.contact-info__icon {
  font-size: 1.5rem;
}

.contact-info__text {
  color: #000000;
  text-decoration: none;
}

.contact-info__text:hover {
  text-decoration: underline;
}

.contact-info__socials {
  display: flex;
  gap: 1rem;
}

.contact-info__socials a {
  color: var(--green);
  font-size: 1.5rem;
  transition: color 0.3s ease, opacity 0.3s ease;
}

.contact-info__socials a:hover {
  opacity: 0.7;
}

.contact__form {
  flex: 1;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input,
.textarea {
  width: 100%;
  padding: 12px 15px;
  border-radius: 6px;
  font-size: 1rem;
  border: 1px solid #cccccc;
  transition: border-color 0.3s ease;
}

.input:focus,
.textarea:focus {
  border-color: var(--green);
  outline: none;
}

.textarea {
  height: 150px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-demo {
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  background: var(--green);
  color: white;
  width: fit-content;
  border: none;
  border-radius: 6px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.btn-demo:hover {
  transform: translate(3px, 3px);
  box-shadow: none;
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .contact__form,
  .contact-info {
    max-width: 100%;
    width: 100%;
  }
}
